version: '3.8'

services:
  api:
    build: .
    container_name: marketplace_api
    ports:
      - "4050:3000"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - PORT=3000
    restart: always
